# Data structure

In [1]:
#initialise
L=[1,2,'a','list']
T=(1,2,'a','tuple')
S={1,2,'Set','x'}
D={1:2,3:4,'Name':'Akash'}

## Accessing

In [2]:

for x in L,T,S,D:
    print(x)

[1, 2, 'a', 'list']
(1, 2, 'a', 'tuple')
{'x', 1, 2, 'Set'}
{1: 2, 3: 4, 'Name': 'Akash'}

## Slicing

In [3]:
#slicing in list,tuple
print(L[1:])
print(L[1:3])
print(L[:2])
print(L[1::-2])
print(T[1:])
print(T[::-2])

[2, 'a', 'list']
[2, 'a']
[1, 2]
[2]
(2, 'a', 'tuple')
('tuple', 2)

## Reverse

In [4]:
#reversing (list and tuple)
print(L[::-1])
print(T[::-1])

['list', 'a', 2, 1]
('tuple', 'a', 2, 1)

In [5]:
T=(1,2,3,4,5)
T[::-2]

(5, 3, 1)

In [6]:
"""append list-2
tuple-1
set -2
Dict"""
# #adding element in List
L2=["Student","MCA"]
#L=L + L2
#L.append("KIET")
L
#L.remove('MCA')
#del L

#adding element in Tuple
L3=list(T)
#L3.append("Add")
T=tuple(L3)
T

#adding element in Set
S.add(23)
S.remove(1)
S

{2, 23, 'Set', 'x'}

In [7]:
#adding element in Dict
D["Student"]="KIET"
D[1]=23   #1 here is a key

In [8]:
#list tuple dict set 
#these are constructor

In [9]:
L1=L
L1[1]='xyz'
L2=L.copy()
L2[1]='qwer'
print(L)
print(L1)
print(L2)
# Here '=' not copies the content but it makes another reference to same memory location so changing 1 affect second
# that's why we have copy function for list , set, dict... tuple is immutable so need for copy function...= is enough

[1, 'xyz', 'a', 'list']
[1, 'xyz', 'a', 'list']
[1, 'qwer', 'a', 'list']

## When seeking help...Do these

In [10]:
L2.clear??

In [11]:
L2.pop?

In [12]:
L2.reverse?

# Functions :

## List

### Ordered , Changeable , Duplicate allowed

In [13]:
L=['Dk','Ak','Ek','Bk','Xk','Fk']
# Accesing with + indexing
L[1]

'Ak'

In [14]:
# Accesing with (-)ve index
L[-1]

'Fk'

In [15]:
L.sort()
L

['Ak', 'Bk', 'Dk', 'Ek', 'Fk', 'Xk']

In [16]:
L.sort(reverse= True)
L

['Xk', 'Fk', 'Ek', 'Dk', 'Bk', 'Ak']

In [17]:
L.append(1)
L

['Xk', 'Fk', 'Ek', 'Dk', 'Bk', 'Ak', 1]

In [18]:
# insert 'ABC' at position 1 ...starts from zero
L.insert(1,'ABC')
L

['Xk', 'ABC', 'Fk', 'Ek', 'Dk', 'Bk', 'Ak', 1]

In [19]:
# 3 removes first occurence of that word
L.remove('ABC')
L

['Xk', 'Fk', 'Ek', 'Dk', 'Bk', 'Ak', 1]

In [20]:
# change Data
L[0]=23
L

[23, 'Fk', 'Ek', 'Dk', 'Bk', 'Ak', 1]

In [21]:
L1=[1,2,3,4] 
L2=['a','b','c','d']
L=L1+L2
L

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [22]:
del L

## Tuple

### Ordered , Unchangeable , Duplicate allowed

In [23]:
# Tuple is same as List but Tuple cann't be changed
#So can't add or remove elements

In [24]:
T=(1,2.45,'a','abc')
T

(1, 2.45, 'a', 'abc')

In [25]:
len(T)

4

In [26]:
# Access from starting and end
print(T[0],T[-1])

# Reverse access
print(T[::-1])

1 abc
('abc', 'a', 2.45, 1)

In [27]:
print(type(T))

<class 'tuple'>

In [28]:
#Normally add or removing of element is not possible
#So, another way:---

In [29]:
T2 = list(T)   #tuple is a list
T2.append('XYZ')
T2.remove('a')
T=tuple(T2) # T is a tuple
T

(1, 2.45, 'abc', 'XYZ')

In [30]:
T1=(1,2,3,4) 
T2=('a','b','c','d')
T=T1+T2
T

(1, 2, 3, 4, 'a', 'b', 'c', 'd')

In [31]:
T=T1 * 2
T

(1, 2, 3, 4, 1, 2, 3, 4)

In [32]:
del T

## Sets

### Unordered , Changeable , Unindexed , Duplicate not allowed

In [33]:
S={1,2,3,'A','B',1,2}
S

{1, 2, 3, 'A', 'B'}

In [34]:
print(type(S))

<class 'set'>

In [35]:
len(S)

5

In [36]:
S.add('C')
S

{1, 2, 3, 'A', 'B', 'C'}

In [37]:
S1={'a','b'}
S2={1,2,3}
S1.update(S2)  #we can pass List and tuple too
S1

{1, 2, 3, 'a', 'b'}

In [38]:
# if the element is not present ,then it will give error
S1.remove('a')
S1

{1, 2, 3, 'b'}

In [39]:
# So another option is: 
S1.discard('b')
S1

{1, 2, 3}

In [40]:
# completely clears the set
S1.clear()
S1

set()

In [41]:
# Before
print(S)

# Popped element is return and popping from index 0
S.pop()

# Before
print(S)

{1, 2, 3, 'A', 'B', 'C'}
{2, 3, 'A', 'B', 'C'}

In [42]:
del S

## basic SET operations

In [43]:
s1={1,2,3,4,5}
s2={4,5,6,7}

In [44]:
s3=s1.union(s2)
s3

{1, 2, 3, 4, 5, 6, 7}

In [45]:
s4=s1.intersection(s2)
s4

{4, 5}

In [46]:
s5=s1.difference(s2)
s5

{1, 2, 3}

## Dictionary

### Unordered , Changeable , No Duplicate

In [47]:
D={'Brand':'Mustang','Price':24543, 'model':'S Class'}
D

{'Brand': 'Mustang', 'Price': 24543, 'model': 'S Class'}

In [48]:
# Accesing
D['Brand']

'Mustang'

In [49]:
print(type(D))

<class 'dict'>

In [50]:
print(len(D))

3

### Add new data and if already present then it will change will

In [51]:
D['year']=2001
D

{'Brand': 'Mustang', 'Price': 24543, 'model': 'S Class', 'year': 2001}

In [52]:
D['model']='Top_class'
D

{'Brand': 'Mustang', 'Price': 24543, 'model': 'Top_class', 'year': 2001}

### Dict get method

In [53]:
# Both are same
x=D['model']
y=D.get('model')
print(x,'',y)

Top_class  Top_class

In [54]:
# Whole dictionary
D.items()

dict_items([('Brand', 'Mustang'), ('Price', 24543), ('model', 'Top_class'), ('year', 2001)])

In [55]:
D.keys()

dict_keys(['Brand', 'Price', 'model', 'year'])

In [56]:
D.values()

dict_values(['Mustang', 24543, 'Top_class', 2001])

### Dict remove method

In [57]:
D

{'Brand': 'Mustang', 'Price': 24543, 'model': 'Top_class', 'year': 2001}

In [58]:
D.pop('model') # return the data that is popped

'Top_class'

In [59]:
D

{'Brand': 'Mustang', 'Price': 24543, 'year': 2001}

In [60]:
#pops the last inserted item
D.popitem()

('year', 2001)

In [61]:
D

{'Brand': 'Mustang', 'Price': 24543}

In [62]:
del D['Price']
D

{'Brand': 'Mustang'}

In [63]:
D2 = dict(D)
D2

{'Brand': 'Mustang'}

In [64]:
D2.clear()   # clear all data od D2

In [65]:
D2  #empty

{}

In [66]:
D1=dict(D)
D1

{'Brand': 'Mustang'}

In [67]:
del D1

# Construtor

In [68]:
L=[1,2.45,'a',4,'Ak']
L

[1, 2.45, 'a', 4, 'Ak']

In [69]:
# we can pass any but only one argument at a time
L2=list(L)
T=tuple(L)
S=set(T)

print(L2)
print(T)
print(S)

[1, 2.45, 'a', 4, 'Ak']
(1, 2.45, 'a', 4, 'Ak')
{1, 2.45, 'a', 4, 'Ak'}

In [70]:
# x is a list of List , tuple and set
X=[L,T,S]    
X
# it can be done with different ways like list in tuple o set

[[1, 2.45, 'a', 4, 'Ak'], (1, 2.45, 'a', 4, 'Ak'), {1, 2.45, 4, 'Ak', 'a'}]

In [71]:
D={'Brand':'Mustang','Price':24543, 'model':'S Class'}
D

{'Brand': 'Mustang', 'Price': 24543, 'model': 'S Class'}

In [72]:
D1=dict(D)
D1

{'Brand': 'Mustang', 'Price': 24543, 'model': 'S Class'}

#  List,tuple,set,dict in another Dict

In [73]:
D2={'A':L,'B':T,'C':S,'D':D}

In [74]:
print(D2['A']) #Gives List
print(D2['A'][2]) #Element on 2nd index of list L of Dic D2

[1, 2.45, 'a', 4, 'Ak']
a

In [75]:
L3=[L,T,D,S]
L3

[[1, 2.45, 'a', 4, 'Ak'],
 (1, 2.45, 'a', 4, 'Ak'),
 {'Brand': 'Mustang', 'Price': 24543, 'model': 'S Class'},
 {1, 2.45, 4, 'Ak', 'a'}]

# ShortCut

In [76]:
L4=[x**2 for x in range(10)]
L4

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
S2 = {x**3 for x in range(1,10,2)}
S2

{1, 27, 125, 343, 729}

# Format a number Upto Certain Decimals

In [78]:
n=100
print("%.2f" % n)

100.00

# Practice

In [79]:
def getData():
    Students={}
    while True:
        studentID=input("Enter Student ID: ")
        marksList=input("Enter marks 'seperated with Coma': ")
        more=input("Press N to Stop: ")
        
        Students[studentID]=marksList.split(",")
        
        if more.lower()=='n' :
            return Students

In [80]:
StudentData=getData()

Enter Student ID: ID1
Enter marks 'seperated with Coma': 7,8,9
Press N to Stop: y
Enter Student ID: ID2
Enter marks 'seperated with Coma': 5,6,7,8,9
Press N to Stop: y
Enter Student ID: ID3
Enter marks 'seperated with Coma': 4,5,7,9
Press N to Stop: n

In [81]:
StudentData

{'ID1': ['7', '8', '9'],
 'ID2': ['5', '6', '7', '8', '9'],
 'ID3': ['4', '5', '7', '9']}

In [82]:
def getAverageMarks(Data):
    avgDict={}

    for x in Data:
        sum=0
        for y in Data[x]:
            sum+= int(y)    
        avgDict[x]=sum/len(Data[x])    
    return avgDict

In [83]:
avgM=getAverageMarks(StudentData)
avgM

{'ID1': 8.0, 'ID2': 7.0, 'ID3': 6.25}

In [84]:
for x in avgM:
    print("Student",x,"got",avgM[x],"as average")

Student ID1 got 8.0 as average
Student ID2 got 7.0 as average
Student ID3 got 6.25 as average

# End